<h2>Student Details</h2>

<div class="table-container">
    <table class="table custom-table" *ngIf="students">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email ID</th>
                <th><input type="text" [(ngModel)]="searchText"></th>
                <th><a [routerLink]="['/add-student']" style="float: right; "><button class="btn btn-info"><i class="fa-solid fa-circle-plus"></i></button></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students | search: searchText | paginate: {itemsPerPage: 10, currentPage: p} ">
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.emailId}}</td>
                <td>
                    <button (click)="updateStudent(student.id)" class="btn"  data-toggle="tooltip" data-placement="top" title="Edit">
                        <i class="fa-solid fa-pen-to-square"></i></button>
                    <button (click)="viewStudent(student.id)" class="btn" data-toggle="tooltip" data-placement="top" title="View Details"><i class="fa-solid fa-arrow-up-right-from-square"></i></button>
                    <button (click)="deleteStudent(student.id)" class="btn" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa-solid fa-trash" style="color: #f22525;"></i></button>
                </td>


            </tr>

        </tbody>
        <pagination-controls (pageChange)="p= $event" class="float-right pagen"></pagination-controls>

    </table>
</div>

