<h2>Student Details</h2>


<table class="table table-striped" *ngIf="students">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email ID</th>
           <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.emailId}}</td>
            <td><button (click)="updateStudent(student.id)" class="btn btn-info">Update</button></td>
            <td><button (click)="deleteStudent(student.id)" class="btn btn-danger">Delete</button></td>

          </tr>
    </tbody>
</table>
