.btn {
    float: right;


}

.btn a {
    color: black;
    text-decoration: none;
}

.table-container {
    border-radius: 24px;
    background: #ffffff;
    box-shadow:  5px 5px 10px #dbdbdb,
                 -5px -5px 10px #ffffff;

   
}

.custom-table {
    background: transparent;
  
}

.pagen {
    border-radius: 24px;
}

.table-container .custom-table tr:hover{
    background-color: rgb(137, 137, 137);
}

.table-container i:hover{
    scale: 120%;
    transition: 0.2s ease-out;

}

.add-btn{
    border-radius: 2rem;
    background-color: rgb(52, 52, 52);
    color: white;
}

.add-btn:hover{
    background-color: rgb(74, 73, 73);
    scale:0.2rem;
}

.add-btn i:hover{
    scale:0.2rem;
}