<a [routerLink]="['/students']"><i class="fa-solid fa-angles-left"></i>Back</a><div class="col-md-8 container-class">
    <h2>Add Student</h2>
    <form (ngSubmit) ="onFormSubmit()" class="form-control" [formGroup]="form" >
        <div class="form-group">
            <label >First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" [(ngModel)]="student.firstName" name="firstName">
            <div *ngIf="form.get('firstName')!.hasError('required') && form.get('firstName')!.touched" class="text-danger">
                First Name is required
              </div>
        </div>
    
        <div class="form-group">
            <label >Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName"  [(ngModel)]="student.lastName" name="lastName">
            <div *ngIf="form.get('lastName')!.hasError('required') && form.get('lastName')!.touched" class="text-danger">
                Last Name is required
              </div>
        </div>
    
        <div class="form-group">
            <label >Email ID </label>
            <input type="email" class="form-control" id="emailId" formControlName="emailId"  [(ngModel)]="student.emailId" name="emailId">
            <div *ngIf="form.get('emailId')!.hasError('required') && form.get('emailId')!.touched" class="text-danger">
                Email ID is required
              </div>
              <div *ngIf="form.get('emailId')!.hasError('email') && form.get('emailId')!.touched" class="text-danger">
                Invalid email address
              </div>
        </div>
        <br>
    
        <button class="btn btn-success" type="submit" [disabled]="form.invalid">Submit</button>
    </form>
    
    </div>